<%- contentFor('body') %>


<br />
<div class="container">
	<div class="row">
		<div class="col s12">				
			<% if(errors) { %>
			<div class="card-panel deep-orange lighten-4">
				<i class="small valign material-icons">error_outline</i>
				<span class="blue-text text-darken-2">					  			    						
					<% if(errors instanceof Array) { %>										
					<% errors.array().forEach(function(erro) { %>
					Os seguintes erros foram encontrados: <br />
					<i class="small valign material-icons 
					">close</i> <%= erro.param %> <br /> 
					<% }); %>
					<% } else {%>
					<%= errors %>
					<% }  %>
				</span>
			</div>
			<% } %>
			<h3 class="header">Login</h3>
			<hr />

			<form action="login" method="POST">				      	

				<div class="input-field col s12">
					<input id="email" type="email" name="email" class="validate">
					<label for="email">Email</label>
				</div>				      

				<div class="input-field col s12">
					<input id="password" type="password" name="password" class="validate">
					<label for="password">Password</label>
				</div>				      
				<div class="col s12">
					<input type="submit" class="waves-effect waves-light btn-small blue" value="Enviar">					
				</div>				      
			</form>				    

		</div>
	</div>
</div>